.searchArea {
  /* sticky의 경우 top의 위치를 정해줘야하고 IE에서는 잘 안됨 */
  position: sticky;
  top: 0;
  z-index: 10000;
  display: flex;
  height: 64px;
  padding: 10px 30px;
  border-bottom: 1px solid #c0c0c0;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
}

.logoimg {
  width: 70px;
}

.searchInputArea {
    display: flex;
}

.searchInput {
  width: 35vw;
  padding-left: 10px;
  border: 1px solid #dfdfdf;
  font-size: 14px;
  outline: none;
}

.searchbtn {
  background-color: #f3f3f3;
  border: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  width: 60px;height: 40px;
}

.searchbtn img {
  width: 24px;
}

.gridmenubtn img {
  width: 24px;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.micbtn{
  padding: 10px;
  margin-left: 4px;
}

.micbtn i {
  color: #525252;
  font-size: 20px;
}

.topmenuarea{display: flex;}
.topmenuarea .btn-rightmenu {padding: 10px;margin-left: 8px;}
.topmenuarea .btn-rightmenu i{color: #a7a5a5; font-size: 20px;}
.logoarea{display: flex;}
.logoarea .btn-leftmenu {padding: 10px;margin-right: 20px;}
.logoarea .btn-leftmenu i{color: #a7a5a5;font-size: 20px;}